<div class="row">
    <div clas="col">
        <h3 class="m-subheader__title">
            Your Categories
        </h3>
    </div>
</div>
<br>
<br>

<!-- begin:: Filter -->
<m-pers-filter-term placeHolder="Search by Id or Name" (searchProcessed)="onFilterSearchProcessed($event)" (userLeftInputField)="onUserLeftInputField($event)"></m-pers-filter-term>
<br>
<!-- end:: Filter -->

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories">
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
        </tr>
    </tbody>
</table>