<!--begin::Signin-->
<div class="m-login__signin">
	<div class="m-login__title">
		<h3 translate="AUTH.LOGIN.TITLE">Login Account</h3>
	</div>

	<m-auth-notice></m-auth-notice>
	
	<!--begin::Form-->
	<form class="m-login__form m-form" name="form" (ngSubmit)="submit()" #f="ngForm" novalidate>
		<div class="form-group">
			<mat-form-field>
				<mat-label>Username</mat-label>
				<input matInput type="text" name="username" placeholder="Username" autocomplete="off" [(ngModel)]="model.username" #username="ngModel" required>
			</mat-form-field>
		</div>
		<div class="form-group">
			<mat-form-field>
				<mat-label>Password</mat-label>
				<input matInput minlength="4" type="password" name="password" placeholder="Password" autocomplete="off" [(ngModel)]="model.password" #password="ngModel" required>
			</mat-form-field>
		</div>

		<button mat-raised-button color="primary" type="submit" [disabled]="!f.valid">Login</button>
	</form>
	<!--end::Form-->

	<!--begin::Action-->
	<div class="m-login__action m-login__action--fit">
		<!-- <a href="javascript:;" (click)="forgotPasswordPage($event)" class="m-link">
			<span translate="AUTH.GENERAL.FORGOT_BUTTON">Forgot Password?</span>
		</a> -->
	</div>
	<!--end::Action-->

</div>
<!--end::Signin-->
