<div class="row">
    <div clas="col">
        <h3 class="m-subheader__title">
            Creating a Perspective
        </h3>
    </div>
</div>
<br><br>

<m-portlet>
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Fill the form below
            </h3>
        </div>
    </ng-container>

    <!-- use ng-container[mPortletBody] for the body content -->
    <ng-container mPortletBody>
        <form class="m-login__form m-form" name="form" (ngSubmit)="processingForm()" #f="ngForm" novalidate>

            <div class="form-group">
                <mat-form-field class="full-width-input">
                    <mat-label>Title</mat-label>
                    <input matInput name="title" pattern=".*\S+.*" placeholder="Leave your Title" maxlength="40" [(ngModel)]="perspective.title" required>
                </mat-form-field>
            </div>
            
            <div class="form-group">
                <mat-form-field class="full-width-input">
                    <mat-label>Perspective</mat-label>
                    <textarea matInput name="perspective" pattern=".*\S+.*" placeholder="Leave your Perspective" maxlength="1000" [(ngModel)]="perspective.perspective"
                        rows="5" required></textarea>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field class="full-width-input">
                    <mat-label>Thoughts</mat-label>
                    <textarea matInput class="form-control-lg" name="thoughts" maxlength="2500" [(ngModel)]="perspective.thoughts" rows="5"></textarea>
                </mat-form-field>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width-input">
                        <mat-label>Author</mat-label>
                        <mat-select name="author" placeholder="Select Author" [(ngModel)]="perspective.authorId">
                            <mat-option *ngFor="let author of authors" [value]="author.id">
                                {{ author.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <input type="text" class="form-control" placeholder="First name"> -->
                </div>

                <div class="col">
                    <mat-form-field class="full-width-input">
                        <mat-label>Category</mat-label>
                        <mat-select name="category" placeholder="Select Category" [(ngModel)]="perspective.categoryId">
                            <mat-option *ngFor="let category of categories" [value]="category.id">
                                {{ category.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <input type="text" class="form-control" placeholder="Last name"> -->
                </div>
            </div>
            <button mat-raised-button color="primary" type="submit" [disabled]="!f.valid">Create</button>
        </form>
    </ng-container>
</m-portlet>

<!--end:: Widgets/Best Sellers-->