<div class="row">
    <div clas="col">
        <h3 class="m-subheader__title">
            Your Authors
        </h3>
    </div>
</div>
<br>
<br>

<button mat-fab color="primary" (click)="openAuthorCreationWindow()">Create</button>
<br>
<br>

<!-- begin:: Filter -->
<m-pers-filter-term placeHolder="Search by Id or Name" (searchProcessed)="onFilterSearchProcessed($event)" (userLeftInputField)="onUserLeftInputField($event)"></m-pers-filter-term>
<br>
<!-- end:: Filter -->

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Author</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let author of authors">
            <td>{{ author.id }}</td>
            <td>{{ author.name }}</td>
            <td>
                <mat-icon class="clickable-icons" (click)="editAuthor(author)">edit</mat-icon>
                <mat-icon class="clickable-icons" (click)="openConfirmationModal(author)">delete</mat-icon>
            </td>
        </tr>
    </tbody>
</table>